.content-container {
    padding: 15px;
}

.content-container:after {
    content: "";
    display: table;
    clear: both;
}

.content-left {
    text-align: left;
    padding: 15px;
    float: left;
    width: 50%;
}

.content-container-inner {
    display: inline-flex;
    width: 80%;
}